numpy==1.21.3
alembic==1.7.4
amqp==5.0.6
billiard==3.6.4.0
celery==5.1.2
certifi==2021.10.8
charset-normalizer==2.0.7
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
dnspython==2.1.0
email-validator==1.1.3
Flask==2.0.2
Flask-Login==0.5.0
Flask-Migrate==2.7.0
flask-sock==0.4.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.15.1
gunicorn==20.1.0
h11==0.12.0
idna==3.2
importlib-metadata==4.8.1
importlib-resources==5.2.2
itsdangerous==2.0.1
Jinja2==3.0.2
kombu==5.1.0
Mako==1.1.5
MarkupSafe==2.0.1
numpy==1.21.3
pandas==1.3.4
pip==21.2.4
prompt-toolkit==3.0.20
python-dateutil==2.8.2
python-decouple==3.5
pytz==2021.3
requests==2.26.0
setuptools==58.1.0
simple-websocket==0.4.0
six==1.16.0
SQLAlchemy==1.3.23
Turbo-Flask==0.6.1
urllib3==1.26.7
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.0.2
wheel==0.37.0
wsproto==1.0.0
WTForms==2.3.3
zipp==3.6.0
