
{% extends "layouts/dashbase.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row flex-row">
    <div class="col col-md-8">
        <div class="card card-body stretch-card shadow-sm mb-4">
            <h1 class="display-4">Captured Faces</h1>
            <div class="col-12">

                <!-- this is the admin faces -->
                <div class="row">
                            <div class="col-12 grid-margin stretch-card align-self-center">
                              <div class="card">
                                <div class="card-body ">

                                <h2 class="h5 mb-0" href="/">Admin Faces Captured </h2>
                        
                            <div class="mb-0 text-muted">
                          
                            </div>
                            
                            <div class="d-flex">

                              <iframe src="{{adminimage}}"></iframe>
                              <br />    
                            </div>
                         
                        </div>
                      </div>
                      <!-- content-wrapper ends -->
                    </div>
                    <!-- row ends -->
                  </div>
                  <br>
                  

                <!-- this is the admin faces -->
                <div class="row">
                  <div class="col-12 grid-margin stretch-card align-self-center">
                    <div class="card">
                      <div class="card-body ">

                      <h2 class="h5 mb-0" href="/">User Faces Captured </h2>
              
                  <div class="mb-0 text-muted">
                    
                  </div>
                  
                  <div class="d-flex">

                    <iframe src="{{userimage}}"></iframe>
                    <br />    
                    
                  

                    
                  </div>
               
              </div>
            </div>
            <!-- content-wrapper ends -->
          </div>
          <!-- row ends -->
        </div>
        <br>
        
                <!-- this is the admin faces -->
                <div class="row">
                  <div class="col-12 grid-margin stretch-card align-self-center">
                    <div class="card">
                      <div class="card-body ">

                      <h2 class="h5 mb-0" href="/">Unknown Faces Captured </h2>
              
                  <div class="mb-0 text-muted">
                  
                  </div>
                  
                  <div class="d-flex">

                    <iframe src="{{unknownimage}}"></iframe>
                    <br />    
                  </div>
               
              </div>
            </div>
            <!-- content-wrapper ends -->
          </div>
          <!-- row ends -->
        </div>
        <br>


          <!-- this is the admin faces -->
          <div class="row">
            <div class="col-12 grid-margin stretch-card align-self-center">
              <div class="card">
                <div class="card-body ">

                <h2 class="h5 mb-0" href="/">Unwanted Faces Captured </h2>
        
            <div class="mb-0 text-muted">
            
            </div>
            
            <div class="d-flex">

              <iframe src="{{unwantedimage}}"></iframe>
              <br />    
            </div>
         
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- row ends -->
  </div>
  <br>
        
              
                
              </div>

      </div>
      </div>
    </div>
  </div>
        
      </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}
